@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#maintitle {
    font-size: 9vh;
    font-family: 'EB Garamond', serif;
    letter-spacing: -1px;
    color: rgba(255, 0, 0, 0.849);
    /* make a border and an image */
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

#issues h4 {
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
    color: black;
    border: 0.1rem outset black;
    outline: 0.1rem solid black;
    outline-offset: 0.5rem;
}

.label {
    width: 10vw;
}

body {
    font-family: 'EB Garamond', serif;
    letter-spacing: -1px;
    justify-content: center; 
    text-align: justify; 
  }

.container {
    border: solid black;
    border-style:hidden;
    border-image-source: url(/imgs/gmd18.jpg);
    border-image-width: 5rem;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
    padding: 8%;
}

.image-container {
    border:none;
}

img {
    filter: grayscale(100%);
}

#navbar-documentation a {
    text-transform: uppercase; 
    color:red;
}

#main-background {
    column-count: 2;
    column-gap: 10%;
}

.container h1, h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    text-transform: uppercase; 
    margin:0;
    text-align: center;
    color: red;
    font-weight:bold;
}

.container h3 { 
    display: flex;
    flex-wrap: nowrap;
    margin:0;
    text-align: center;
    text-transform: uppercase;
}

.container h5 {
    text-transform: uppercase;
    color: red;
}

/* h4 {
    /* font-family:  different from the other one; */


#documentation p::first-letter {
    padding-left: 2rem;
    color:red;
    float: left;
    font-size: 3rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.1em 0;
  }

p::first-line {
    text-transform: uppercase;
    font-weight: bold;
}

.insert {
    border-style: double;
    border-color: black;
    margin: 2rem;
    padding: 6%;
}

blockquote {
    font-style: italic;
}

/* BORDER of the accordion ???? */
/* 
.border {
    border: 100px solid black;
    padding: 20px;
    border-image-source: url(/imgs/gmd19.jpg);
    border-image-width: 8rem;
    border-image-repeat: round;
    border-image-slice: 100% 10%;
} */

#author {
    font-size: small;
}

.footer-text {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;

}
