@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@font-face {
    font-family: 'Trinigan';
    src: url(/fonts/trinigan.ttf);
}


/* FOR TITLE OF INNER PAGE: USE IMAGE BORDER!!!! */

#maintitle {
    font-size: 9vh;
    font-family: 'Trinigan';
    color: goldenrod;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

body {
    font-family: 'Bodoni Moda', serif;
    justify-content: center; 
    background-color: #fdf2c9;
}

#documentation, #about {
    border-top: solid black;
    border-image-source: url(/imgs/experiment.png);
    border-image-width: 10rem;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.container h1, h2 {
    font-family: 'Trinigan';
    font-size: 3rem;
    color: rgb(182, 130, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align:center;
    padding-bottom: 5%;
}

.container h3 {
    font-family: 'Trinigan';
    font-size: 2rem;
}

img {
    filter: opacity(80%) saturate(200%); 
}

/* h4 {
    /* font different and smaller size ???  */

/* THIS BORDER IS FOR THE ACCORDION (TO CHECK) */

.image-container {
    border:none;
}

blockquote {
    padding-left: 10%;
    font-style: italic;
    /* make it stand out maybe without using italics */
}

#documentation p::first-letter {
    font-family: 'Trinigan';
    float: left;
    font-size: 3rem;
    line-height: 0.75;
    margin: 0.1em 0.2em 0.1em 0;
}


#menu-card, #main-background {
    border: solid;
    border-style: double;
    padding: 3%;
}

.insert {
    padding: 5%;
    /* border-style:double; */
    margin-top: 5%;
    margin-bottom: 5%;
}

#author {
    font-size: small;
    padding-left: 5%;
}

#author::first-letter {
    font-family: 'Bodoni Moda', serif;
    font-size: unset;
    line-height: unset;
    margin: unset;
}

/* img {
    max-width: 80%;
    max-height: 70%;
    border: 10px solid transparent;

} */

.footer {
    background-color: #ffe3dbef;
    border-top: solid 20px #a5c97d79;
    border-style: double;
    position: relative;
}

.footer-text {
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* MAKE THESE IMAGES RESPONSIVE */

#map {
    position: relative;
    overflow: visible;
}

#sidebar .sidebar-header {
    position: relative;
    height: 20%;
    background-color: #ffe3dbef;
}

#sidebar {
    background-color: #ffe3dbef;
    border-right: solid 20px #a5c97d79;
    border-top: solid 20px #a5c97d79;
    border-style: double;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: black !important;
    background: #ffe3dbef;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffe3dbef;
}

#image_artnouveau {
    display: inline-block;
    position: absolute;
    width: 30vw;
    bottom: -5vh;
    right: 0;
    z-index: 998;
}

#image_artnouveau2 {
    width: 20%;
    display: inline-block;
    position: absolute;
    bottom:0;
    right: 80%;
    z-index: 1000;
}

#image_artnouveau3 {
    width: 100%;
    position: absolute;
    top:0;
}

#woman {
    width: 100%;
    position: sticky;
    opacity: 1;
}

#woman2 {
    width: 100%; 
}

#woman3 {
    width: 100%;
    filter: saturate(100%);
    filter:contrast(100%)
}

:root {
    --scrollbar-track-color: none;
    --scrollbar-thumb-color: black;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

/* Style the scrollbar corner (optional) */
::-webkit-scrollbar-corner {
    background: transparent; /* Change the scrollbar corner color */
}


/* inner pages */

#title {
    font-size: 9vh;
    font-family: 'Trinigan';
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.accordion-header {
    background-color: white;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button {
    font-size: 4vh;
    font-family: 'Trinigan';
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.accordion-body {
    border: 30px solid black;
    padding: 8rem;
    border-image-source: url(/imgs/experiment.png);
    border-image-width: 7rem;
    border-image-repeat: round;
    border-image-slice: 100% 5% 100% 5%;
}

.accordion-body h1, .accordion-body h2 {
    font-family: 'Trinigan';
    padding-bottom: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:0;
    text-align: center;
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight:bold;
}

.accordion-body p::first-letter {
    font-family: 'Trinigan';
    float: left;
    padding-right: 1rem;
    font-size: 3rem;
    line-height: 0.75;
    margin: 0.1em 0.2em 0.1em 0;
  }

.accordion-body h3, .accordion-body h4 { 
    flex-wrap: nowrap;
    margin:0;
    text-align: center;
    padding-bottom: 5%;
}

.accordion-body h5 {
    text-transform: uppercase;
    color: goldenrod;
}

.accordion-body .insert {
    border: 100px solid black;
    border-image-source: url(/imgs/invaluable-art-nouveau-hero.png);
    border-image-width: 10%;
    border-image-repeat: round;
    border-image-slice: 100% 0% 100% 0%;
    padding: 8rem;
}

#sidebar button {
    background: none;
    border:2px solid #5d862e80;
    margin:2%;
}

.btn-info {
    color: black;
    border: 1px solid;
    background-color: #fdf2c9;
    border-color: #a5c97d79;
    border-style: double;
}

.btn-info:hover {
    color: black;
    background-color: #ffe3dbef;
    border-color: #a5c97d79;
    border-style: double;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:  #fdf2c9 !important;
}

.page-link {
    color: black;
    background-color: #fdf2c9;
    border: 1px solid #a5c97d79;
    border-style: double;
}

#navpage {
    opacity: 1 !important;
}

.label_photo {
    font-size: small !important;
}

.label_photo p::first-letter {
    font-family: 'Bodoni Moda', serif;
}

.nav-content .toggle-btn {
    background-image: url(/imgs/button_1800.jpg);
    background-size: contain;
    zoom: 150%;
}

.nav-content span a i:hover{
    background-image: url(/imgs/button_1800.jpg) !important;
    background-size: contain !important;
}
/* IN QUESTO MODO COMPARE DIETRO A TUTTIIIIIII >>> fare in modo che sia solo sull'800!!!!!!! */

.mapboxgl-popup-content {
    font-family: 'Bodoni Moda', serif;
    text-align: center; 
    background-color: #fdf2c9;
}

.mapboxgl-popup-tip {
    border-top-color: #fdf2c9 !important;
}

.mapboxgl-popup-content h3 {
    padding-bottom: 0;
    font-size: 2rem;
    font-family: 'Trinigan';
}

.mapboxgl-popup-content p a {
    color: rgb(185, 134, 3);
    font-size: 0.9rem;
    padding-bottom:0;
}

.paragraph {
    all: unset !important
}