@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

@font-face {
    font-family: 'Trinigan';
    src: url(../fonts/trinigan.ttf);
}

@font-face {
    font-family: 'ArtNouveauCaps';
    src: url(../fonts/art-nouveau-caps.regular.ttf);
}

@font-face {
    font-family: 'NouveauTitle';
    src: url(../fonts/Nouveauflf-qZ35.ttf);
}

@font-face {
    font-family: 'Nerea';
    src: url(../fonts/Nerea\ Free\ Font.ttf);
}

/* index */

#maintitle {
    position: absolute;
    font-size: 7vw;
    font-family: 'Trinigan';
    color: rgba(171, 41, 29, 1);
    text-shadow: -3px 0 rgba(232, 175, 89, 1), 0 2px rgba(232, 175, 89, 1), 1px 0 rgba(232, 175, 89, 1), 0 -1px rgba(232, 175, 89, 1);
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 3rem; 
    padding-left: 2rem;
}

.mapboxgl-popup-content {
    font-family: 'Bodoni Moda', serif;
    text-align: center; 
    background-color: rgba(240, 203, 167, 1);
    border: 2px solid rgba(232, 175, 89, 1);
    border-style: groove;
}

.mapboxgl-popup-tip {
    border-top-color: rgba(240, 203, 167, 1) !important;
}

.mapboxgl-popup-content h3 {
    padding-bottom: 0;
    font-size: 2.5vw;
    color: rgba(160, 34, 19, 1);
    font-family: 'Trinigan';
    font-weight: bold;
}

.mapboxgl-popup-content p a {
    color: rgba(46, 26, 46, 1);
    font-size: 1.2vw;
    padding-bottom:0;
}

body {
    overflow-x: hidden;
    font-family: 'Bodoni Moda', serif;
    justify-content: center; 
    background-color: rgba(240, 196, 170, 1);
}

.container {
    border-top: 5vw solid;
    border-bottom: 7vw solid;
    border-image-source: url(../imgs/border_art_nouveau.png);
    border-image-width: 12.5vw;
    border-image-repeat: stretch;
    border-image-slice: 100% 0% 100% 0%;
    padding-top: 15vw;
}

#issues h4, #about h4 {
    font-family: 'NouveauTitle';
    color: rgba(46, 26, 46, 1);
    font-size: 1.5vw;
    background-color: rgba(240, 196, 170, 1);
}

.documentation-img {
    margin: 2rem auto;
    display: block;
    filter: none !important;
    border: 15px solid;
    border-image-source: url(../imgs/border_title.png);
    border-image-width: 3vw;
    padding: 6vh;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
}

#navbar-documentation h2 {
    font-family: 'Trinigan';
    font-size: 3vw;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
}

.container h1, .container h2 {
    font-family: 'Trinigan';
    font-size: 7vw;
    color: rgba(160, 34, 19, 1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align:center;
    padding-bottom: 8vh;
}

.container h3 {
    font-family: 'Trinigan';
    font-size: 2vw;
    padding-top: 1.3em;
}

.container h5 {
    font-family: 'NouveauTitle';
    font-size: 3vw;
    color: rgba(160, 34, 19, 1);
}

.image-container {
    border: none;
}

.image-container img {
    border: solid;
    filter: opacity(80%) saturate(150%);
    border-image-source: url(../imgs/border_title.png);
    border-image-width: 4vw;
    border-image-outset: 4vw;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
}

.image-row, .row {
    margin-bottom: 13vw; 
}

.label {
    bottom: 1vw;
    right: 7vw;
    left: 7vw;
    text-align: center;
}

#documentation p, #main-background ul {
    font-size: 1.3vw;
}

#main-background a {
    color: rgba(160, 34, 19, 1);
}

#documentation p::first-letter {
    font-family: 'ArtNouveauCaps';
    float: left;
    font-size: 4vw;
    line-height: 0.75;
    margin: 0.1em 0.2em 0.1em 0;
}

#main-background {
    padding-bottom: 6vh;
    padding-top: 6vh;
    background-color: rgba(240, 196, 170, 1);
    border: solid;
    border-image-source: url(../imgs/border_title.png);
    border-image-width: 6vh;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
}

#content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 3em;
    padding-right: 2em;
    width: 50vw;
    height: 75vh;
}

#menu-card {
    padding-bottom: 6vh;
    padding-top: 6vh;
    background-color: rgba(46, 26, 46, 1);
    border: solid;
    border-image-source: url(../imgs/border_title.png);
    border-image-width: 6vh;
    border-image-repeat: round;
    border-image-slice: 100% 10% 100% 10%;
}

#menu-card.active {
    background-color: rgba(46, 26, 46, 1);
}

#menu-card.active #navbar-documentation {
    height: 50vh;
}

.navbar-toggler:focus {
    text-decoration: none;
    box-shadow: rgba(164, 134, 57, 1) 0 0 0 var(--bs-navbar-toggler-focus-width);
}

#navbar-documentation {
    overflow-y: scroll;
    height: 70vh;
    position: static;
}

.footer {
    background-color: inherit;
    position: relative;
}

.footer-text {
    color: black;
    text-align: center;
}

#map {
    position: relative;
    overflow: visible;
}

/* navbar and sidebar */

.dropdown-menu {
    background-color: rgba(46, 26, 46, 1);
}

.navbar a:hover {
    background-color: rgba(46, 26, 46, 1);
    border: 2px solid rgba(181, 157, 91, 1);
}

#sidebar .sidebar-header {
    position: relative;
    height: 15vh;
    background-color: rgba(46, 26, 46, 1);
}

#sidebar {
    background-color: rgba(46, 26, 46, 1);
    border-right: solid 15px rgba(181, 157, 91, 1);
    border-top: solid 15px rgba(181, 157, 91, 1);
    border-style: double;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: rgba(46, 26, 46, 1);
}

#sidebar button {
    background: none;
    border: 2px solid rgba(181, 157, 91, 1);
    color: white;
    margin: 0.3vw;
    margin-right: 2vw;
}

ul ul a {
    font-size: 0.9vw !important;
    padding-left: 3vw !important;
    background: #ffe3dbef;
}

#sidebarCollapse svg {
    display: none;
}

.btn-info {
    color: black;
    border: 1px solid rgba(46, 26, 46, 1);
    background-color: rgba(249, 227, 203, 1);
    font-family: 'NouveauTitle';
    font-size: 1.5vw;
}

.btn-info:active {
    color: white;
    background-color: rgba(171, 41, 29, 1) !important;
}

.btn-info:hover {
    color: white;
    background-color: rgba(171, 41, 29, 1);
    border: 1px solid rgba(46, 26, 46, 1);
}

.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(46, 26, 46, 1) !important;
}

.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle {
    border-color: rgba(46, 26, 46, 1) !important;
}

.btn-info.focus,.btn-info:focus {
    box-shadow: 0 0 0 .2rem rgba(46, 26, 46, 1) !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:  rgba(46, 26, 46, 1) !important;
    border: 10px solid rgba(181, 157, 91, 1);
    border-style: double;
}

.nav-link {
    color: white !important;
    font-family: 'NouveauTitle';
    font-size: 1.5vw;
}

#menu-card .nav-link.active {
    background-color: rgba(46, 26, 46, 1) !important;
    border: 2px solid rgba(181, 157, 91, 1);
}

.page-link {
    font-family: 'NouveauTitle';
    color: black;
    background-color: rgba(249, 227, 203, 1);
}

.page-link:hover {
    color: white;
}

#navbarSupportedContent.active {
    background-color: rgba(46, 26, 46, 1);
    z-index: 2000; 
}

/* images */

#woman4 {
    width: 23vw;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    filter:saturate(200%);    
}

#image_artnouveau {
    display: inline-block;
    position: absolute;
    width: 30vw;
    bottom: -7.5vh;
    right: 0;
    z-index: 998;
}

#image_artnouveau2 {
    width: 15vw;
    display: inline-block;
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 1000;
}

#image_artnouveau2 img {
    width: 100%; 
    filter:saturate(200%);
}

#image_artnouveau3 {
    display: inline-block;
    width: 100%;
    position: absolute;
    top:0;
}

#woman {
    width: 100%;
    position: sticky;
    opacity: 1;
    filter:saturate(200%);
}

#woman3 {
    width: 100%;
    filter: saturate(100%) contrast(100%);
}

/* scroll bar */

:root {
    --scrollbar-track-color: none;
    --scrollbar-thumb-color: rgba(164, 134, 57, 1);
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Firefox Scrollbar Styles */
/* Note: Firefox currently only supports styling the thumb and track */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb-color) transparent;
}


/* inner page */

blockquote {
    padding-left: 10vw;
    font-family: 'NouveauTitle';
    font-size: 1.6vw;
}

.highlight {
    background-color: rgba(164, 134, 57, 0.8) !important;
    font-weight: bold;
    padding: 0.4rem;
}

#title {
    font-size: 5vw;
    font-family: 'Trinigan';
    color: rgba(171, 41, 29, 1);
    text-shadow: -3px 0 rgba(46, 26, 46, 1), 0 2px rgba(46, 26, 46, 1), 1px 0 rgba(46, 26, 46, 1), 0 -1px rgba(46, 26, 46, 1);
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.accordion-header button {
    padding-left: 15rem;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(147, 154, 131, 1);
    color: black;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button {
    font-size: 4vw;
    font-family: 'Trinigan';
    color: rgba(160, 34, 19, 1);
    text-shadow: -1px 0 rgba(46, 26, 46, 1), 0 1px rgba(46, 26, 46, 1), 1px 0 rgba(46, 26, 46, 1), 0 -1px rgba(46, 26, 46, 1);
    display: inline-block;
    text-align: center;
    background-color: rgba(193, 161, 93, 1);
    border: 1px solid rgba(46, 26, 46, 1);
}

.accordion-body {
    font-size: 1.3vw;
    border-top: 6vw solid;
    border-bottom: 5vw solid;
    padding-top: 10vw;
    padding-bottom: 8vw; 
    padding-left: 20vw;
    padding-right: 4vw;
    border-image-source: url(../imgs/invaluable-art-nouveau-hero.png);
    border-image-width: 16vw;
    border-image-repeat: stretch;
    border-image-slice: 100% 0 100% 0;
    background-color: rgba(249, 227, 203, 1);
}

.accordion-body h1, .accordion-body h2 {
    font-size: 5vw;
    font-family: 'Trinigan';
    padding: 3vw;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:0;
    text-align: center;
    color:  rgba(160, 34, 19, 1);
    text-shadow: -3px 0 rgba(46, 26, 46, 1), 0 2px rgba(46, 26, 46, 1), 1px 0 rgba(46, 26, 46, 1), 0 -1px rgba(46, 26, 46, 1);
    font-weight:bold;
}

.accordion-body h3, .accordion-body h4 { 
    flex-wrap: nowrap;
    margin:0;
    text-align: center;
    padding-bottom: 8vw;
    font-weight: bold;
    font-family: 'Nerea';
    font-size: 4vw;
}

.accordion-body h5 {
    text-transform: uppercase;
    color: rgba(160, 34, 19, 1);
    font-size: 3vw;
}

.accordion-body p::first-letter {
    font-family: 'ArtNouveauCaps';
    float: left;
    font-size: 5vw;
    line-height: 0.9;
    margin: 0.1em 0.1em 0.1em 0em;
}

.accordion-body p {
    padding-top: 2em;
}

.accordion-body .insert {
    border-top: 15vw solid;
    border-bottom: 15vw solid;
    border-image-source: url(../imgs/border_art_nouveau.png);
    border-image-width: 13vw;
    border-image-repeat: stretch;
    border-image-slice: 100% 0 100% 0;
    padding: 2vh;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.accordion-body img {
    max-width: 60vw;
    border-top: 15vw solid;
    border-bottom: 15vw solid;
    border-style:hidden;
    border-image-source: url(../imgs/border_art_nouveau_2.png);
    border-image-width: 12vw;
    border-image-repeat: stretch;
    border-image-slice: 100% 2% 100% 2%;
    border-image-outset: 12vw;
    display: block;
    margin: 0 auto;
    margin-top: 12vw;
    margin-bottom: 7vw;
}

.label_photo {
    padding-top: 7vw;
    font-size: 1.2vw;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
    font-family: 'Nerea';
}

.label_photo p::first-letter {
    font-family: 'Nerea';
    font-size: 1.1vw;
    float: none;
    margin-right:0;
    padding-right:0;
}

/* circular menu */

.nav-content .toggle-btn {
    background-image: url(../imgs/button_1800.jpg);
    background-size: contain;
    zoom: 150%;
}

/* classes of the others */

.paragraph {
    all: unset !important
}

.hide_image {
    all: unset
}

.hide_image2 {
    all: unset
}


.second_image {
    display: none
}

.img_paragraph {
    display: none;
}

.striscia_sx {
    display: none
}

#hide_image3 {
    display: none !important;
  }
  #hide_label {
    display: none !important;  
  }