@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=IM+Fell+DW+Pica:ital@0;1&family=Onest:wght@300;700&family=PT+Sans+Narrow:wght@700&family=STIX+Two+Text&display=swap');


.sfondo {
    background-color: rgb(251, 239, 204);
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: 'IM Fell DW Pica', serif !important;
}
#title {
    font-family: 'Alata', sans-serif;
    text-transform: uppercase
}

.btn {
    background-color: firebrick !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: firebrick !important;
}

.paragraph {
    all: unset !important
}

.second_image {
    all:unset
}

.striscia_sx {
    display: none
}

#maintitle {
    font-size: 9vh;
    font-family: 'Alata', sans-serif;
    color: black;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid firebrick;
    border-top: 5px solid firebrick;
}

#depero {
    display:inline-block;
    position: absolute;
    bottom: 3%;
    right: 1%;
    z-index: 998;
}

.nav-content .toggle-btn {
    background-image: url(../imgs/boccioni2.png);
    background-size: contain;
    zoom: 150%;
}

#navpage {
    background-color: rgb(251, 239, 204) !important;
    border-top: 4px solid firebrick;
    border-bottom: 4px solid firebrick;
    color: black !important
}

.navigazione {
    background-color: rgb(251, 239, 204) !important;
    font-family: 'IM Fell DW Pica', serif !important;
    font-style: italic !important;
    
}

.navbar {
    border-bottom: 4px solid firebrick !important; 
}
