@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=DM+Serif+Display:ital@0;1&family=David+Libre&family=IM+Fell+DW+Pica:ital@0;1&family=Imbue:opsz,wght@10..100,500&family=Moul&family=Onest:wght@300;700&family=PT+Sans+Narrow:wght@700&family=STIX+Two+Text&display=swap');

@font-face {
    font-family: 'News';
    src: url(../fonts/OldNewspaperTypes.ttf);
}


.dropdown-item:active {
    background-color: lightgrey !important;
}

.sfondo {
    background-color: rgb(251, 239, 204);
    font-family: 'News', Times, serif;
}
body {
    font-family: 'News', serif !important;
    overflow-x: hidden;
    background-color: rgb(251, 239, 204);
}



#title {
    font-family: 'DM Serif Display', serif !important;
    font-style: italic;
    text-transform: uppercase;
    color: black !important
}

#date2 {
    display: inline-block !important;
    margin-right: 5%
}

#date3 {
    display: inline-block !important;
    margin-right: auto;
}

.btn {
    background-color: firebrick !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: firebrick !important;
}

.second_image {
    all:unset
}

.striscia_sx {
    display: none
}

#maintitle {
    font-size: 9vh;
    font-family: 'DM Serif Display', serif !important;
    font-style: italic;
    color: black;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid firebrick;
    border-top: 5px solid firebrick;
    
}

#depero {
    display:inline-block !important;
    position: absolute;
    bottom: 3%;
    right: 1%;
    z-index: 998;
}

.nav-content .toggle-btn {
    background-image: url(../imgs/boccioni2.png);
    background-size: contain;
    zoom: 150%;
}

#navpage {
    background-color: rgb(251, 239, 204) !important;
    border-top: 4px solid firebrick;
    border-bottom: 4px solid firebrick;
    color: black !important;
    font-style: italic;
}

#accordionExample h1 {
    display: none;
    
}

#accordionExample h2:first-of-type {
    font-family: 'Antonio', sans-serif;
    text-align: left;
    margin: 1;
    letter-spacing: -3;
}

#accordionExample h2 {
    font-family: 'Imbue', serif;
    text-align: left;
    margin: 1;
}

#accordionExample h3 {
    font-family: 'Imbue', serif;
    text-align: left;
    margin: 1;
}

#accordionExample h4 {
    font-family: 'Imbue', sans-serif;
    font-size: medium;

 }

.page-link {
    background-color: rgb(251, 239, 204) !important;
    color: black;
    border-color: firebrick;
}

.page-link:hover {
    background-color: firebrick !important;
    color: rgb(251, 239, 204);
    border-color: black;
}

.attuale {
    background-color: firebrick !important;
    color: rgb(251, 239, 204);
    border-color: black;
}

.btn:hover {
    background-color: rgb(251, 239, 204) !important;
    color: firebrick !important;
    border: firebrick !important;
}

.btn:active {
    background-color: rgb(251, 239, 204) !important;
    color: firebrick !important;
    border: firebrick !important;
}

#sidebar {
    background-color: rgb(251, 239, 204);
    border-top: 5px solid firebrick;
    border-right: 1px solid firebrick;
    border-left: 1px solid firebrick;
    border-bottom: 1px solid firebrick;
}

#sidebar .dropdown-toggle {
    background-color: rgb(251, 239, 204) !important;
    border-bottom: 1px solid rgb(214, 46, 31);
    color: black !important;
    font-family: 'News';
    text-decoration: underline;
}

#sidebar button:hover {
    background-color:firebrick !important;
    color: rgb(251, 239, 204) !important;
}

.paragraph {
    margin: 0
}

.navigazione {
    background-color: rgb(251, 239, 204) !important;
    font-family: 'News', serif !important;
    font-style: italic !important;
    
}

.navbar {
    border-bottom: 4px solid firebrick !important; 
}

.components button {
    background-color: rgb(251, 239, 204);
    border: 2px black solid
}

.accordion-button {
    background-color: rgb(251, 239, 204) !important;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    display: inline-block;
    font-size: 5vh;
    font-weight: bold;
 }

 .accordion-body {
    background-color: rgb(251, 239, 204) !important;
 }

 .accordion-body {
    font-size:x-small;
    display: block ;
    text-align: justify;
    column-count: 5;
    column-gap: 0.5%;
    position: relative;
    column-rule: solid 2px;
    line-height: 1em;
}

p { margin:0 }

.paragraph {
    all: unset
}

.accordion-button:not(.collapsed) {
    
    color: black;
}

#banner-1900 {
    display: inline-block !important
}

/* extra */

#punk{
    /* width: 20vw;
    height: 20vh; */
    position: relative;
    overflow: visible;
    display: none;
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 998;
    background: transparent;
  }

.hide_image {
    display: none
}

.second_image img {
    display: none
}

.img_paragraph{
    all: unset !important;
    display: none !important;
    visibility: hidden !important
}

.striscia_sx {
    display: none
}

.mapboxgl-popup-content {
    font-family: 'News', serif;
    font-size: 1rem;
    letter-spacing: -1px;
    justify-content: center; 
    text-align: justify; 
    background-color: rgb(251, 239, 204);
    border: 0.2rem solid firebrick;
    
}

.mapboxgl-popup-content h3 {
    padding-bottom: 0;
    font-size: 2rem;
    font-family: 'Imbue', sans-serif;
    
}

.mapboxgl-popup-content p a {
    
    padding-bottom: 0;
    color: black
}

.container h2 {
    text-align: center;
    padding-bottom: 5vh;
    font-family: "DM Serif Display";
}

#content {
    border-top: 0.2rem solid firebrick !important;
    border-bottom: 0.2rem solid firebrick !important;
    padding-top: 2%;
    padding-bottom: 5%;
}

#main-background a {
    color: firebrick
}

#navbar-documentation {
    border-top: 0.2rem solid firebrick !important;
    border-bottom: 0.2rem solid firebrick !important;
}

#navbar-documentation a {
    color: black 
}

#navbar-documentation a:hover {
    color: firebrick
}

.navbar-expand-md {
    border-bottom: 0px !important
}

img {
    filter: grayscale(100%);
  }

img:hover {
    filter: none;
}

.container img {
    text-align: center !important;
    height: 40vh
}

.image-container {
    padding-top: 3%;
    border-top: 3px solid firebrick;
    border-bottom: 3px solid firebrick;
    border-left: none;
    border-right: none;
    height: auto
}


.label {
    bottom: 1vh;
    right: 7vw;
    left: 7vw;
    text-align: center;
    font-family: "Imbue", serif;
    color: black;
}

.label:hover {
    color: firebrick;
}

.screen-image {
    margin: 2%;
    text-align: center
}

.documentation-img {
    display: block;
    margin: 2rem auto;
}


