@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Onest:wght@300;700&family=PT+Sans+Narrow:wght@700&family=STIX+Two+Text&display=swap');

#maintitle {
    font-size: 9vh;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    background-color: rgb(214, 46, 31);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

#title {
    text-align: center; margin-top: 0.2em; padding-bottom: 0%; padding-top: 0%; margin-bottom: 1%; font-size: 9vh;
    transition: transform 0.5s linear;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white !important;
    background-color: rgb(214, 46, 31);
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block; 
    text-align: center;
    position: relative;

left: 33%;
}

.btn {
    background-color: rgb(214, 46, 31);
    border: rgb(214, 46, 31);
}

.btn:hover {
    background-color: rgb(214, 46, 31);
    border: rgb(214, 46, 31);
}

.btn:active {
    background-color: rgb(190, 46, 31) !important ;  
    border: rgb(214, 46, 31);
}

body {
    font-family: 'STIX Two Text', serif;
}

#sidebar {
    background-color: white;
    border: 1px solid grey;
}

#sidebar .dropdown-toggle {
    background-color: white !important;
    border-bottom: 1px solid grey;
    color: rgb(54, 121, 246) !important;
    font-family: 'PT Sans Narrow';
    text-decoration: underline;
}

#navpage {
    background-color: white !important;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#banner-laterale {
    display: inline-block
}

#home {
    
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    background-color: rgb(214, 46, 31);
    text-transform: uppercase;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}

#search {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
}

#search_button {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    color:rgb(214, 46, 31);
    border-color: rgb(214, 46, 31);
}

#search_button:hover {
    color:white;
    border-color: white;
    background-color: rgb(214, 46, 31)
}

#banner {
    display: flex; justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: rgb(214, 46, 31);
    z-index: 998;
}

#date {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px;
    padding-left: 5%
}

#ad{
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-right: 17%;
    padding-top: 10px
}

#banner_image {
    display:inline-block;
    position: absolute;
    bottom: 3%;
    right: 3%;
    z-index: 998;
}

#punk{
    /* width: 20vw;
    height: 20vh; */
    position: relative;
    overflow: visible;
    display: none;
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 998;
    background: transparent;
  }

 .components button {
        background-color: white;
        border: 2px black solid
 }

 .accordion-button {
    background-color: white !important;
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    font-weight: bold;
 }

 #accordionExample h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    
 }

 #accordionExample h2 {
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
 }

 #accordionExample h3 {
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
 }

 #accordionExample p:first-letter {
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vh;
    float: left;
    line-height: 0.5;
    margin: 15px 15px 10px 0;
}

.paragraph {
    display: block ;
    text-align: justify;
    column-count: 3;
    column-gap: 3%;
    position: relative
}

.label_photo p {
    font-size: 0.8em !important;
    text-align: justify !important
}
.label_photo {
    width: 100%
}
.label_photo img {
    width: 100%
}

.label_photo p::first-letter {
    all: unset !important
}
 
 

 #accordionExample #subtitle {
    font-family: 'Onest', sans-serif;
    text-transform: uppercase;
    font-weight: normal;

 }

 #accordionExample h4 {
    font-family: 'Onest', sans-serif; 
    text-transform: uppercase;
    font-style: italic
 }

 .barra{
   
    display: inline;

 }

 .barra hr{
    
    border: none;
    height: 3px;
    background-color: black !important;  /* Modern Browsers */
    opacity: 1
 }


 .insert img {
    width: 100%
 }

 .hide_image {
    display:none
 }

.img_paragraph {
    display: inline !important;
    margin: 3% 3% 0 3% ;
    text-align: center !important;
}

.img_paragraph .label_photo {
    width: 50%;
    font-style: italic;
    padding-top: 1% !important;
    clear: both;
    text-align: left !important;
}

.second_image .label_photo {
    width: 50%;
    font-style: italic;
    padding-top: 2% !important;
    clear: both;
    float: right
    
}

.second_image {
    all:unset
}

.second_image {
    float: right
}
.second_image .label_photo {
    float: right
}
.label_photo p {
    text-align: right !important;
}

.img_paragraph .label_photo  {
    padding-left: 3%;
}

.img_paragraph p {
    text-align: left !important
}

 .img_paragraph img {
    padding-top: 3% ;
    width: 90% !important
 }

 .insert img {
    
    float: none
 }
  
  