/* @font-face {
  font-family: 'BlackCasper';
  src: url(/fonts/BlackCasper.ttf);
}
@font-face {
  font-family: 'Mustasurma';
  src: url(/fonts/Mustasurma.ttf);
} */
/* @font-face {
  font-family: 'Punktype';
  src: url(/fonts/Punktype.ttf);
} */
/* @font-face {
  font-family: 'SniffinPaint';
  src: url(/fonts/Sniffin_Paint_Regular.ttf);
} */
/* @font-face {
  font-family: 'CorpusType';
  src: url(/fonts/CorpusType.otf) format(otf);
} */
/* @font-face {
  font-family: 'Teletype';
  src: url(/fonts/TELETYPE1945-1985.ttf);
} */
@font-face {
  font-family: 'Oldtype';
  src: url(../fonts/Bohemian_Typewriter.ttf);
}
@font-face {
  font-family: 'SniffinGlue';
  src: url(../fonts/DanielsHandwritingBoldItalic-GABG.ttf);
}

@font-face {
  font-family: 'SniffinGlue2';
  src: url(../fonts/GiottoHandwriting-d0w7.ttf);
}
@font-face {
  font-family: 'SniffinGlue3';
  src: url(../fonts/AngelasHandwriting-XjLP.ttf);
}



body {
  overflow-x: hidden;
  background-image: url(/imgs/carta.jpg);
    /* background-color: #bbb;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #ddd, #777),
    linear-gradient(to right, #ccc, #442525),
    linear-gradient(to right, #ddd, #777),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 3%);
    box-shadow: 2px 1px 0 #ccc,
    3px 2px 0 #bbb,
    4px 3px 0 #ccc,
    6px 4px 0 #aaa,
    0 3px 12px rgba(0, 0, 0, 0.2),
    6px 5px 7px 1px rgba(0, 0, 0, 0.4);   */
    filter: grayscale(100%) contrast(1) brightness(100%);
  }

/* body::before{
  transform: translate(-50%, -50%);
  z-index: 2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60%,
                                                rgba(255, 255, 255, 0.25) 65%,
                                                rgba(255, 255, 255, 0.2) 75%,
                                                rgba(255, 255, 255, 0) 80%),
                    linear-gradient(to right, rgba(255, 255, 255, 0) 40%,
                                                rgba(255, 255, 255, 0.1) 41%,
                                                rgba(255, 255, 255, 0.1) 41.5%,
                                                rgba(255, 255, 255, 0) 42%),
                    linear-gradient(75deg, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0) 30%),
                    repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2%,
                                                                           rgba(0, 0, 0, 0.15) 5%,
                                                                           rgba(0, 0, 0, 0.15) 7%,
                                                                           rgba(0, 0, 0, 0) 12%),
                    repeating-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.8%,
                                                                          rgba(0, 0, 0, 0.03) 1%,
                                                                          rgba(0, 0, 0, 0.03) 1.6%);
}
body::after{
  z-index: 3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.15) 25%,
                                                rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 25%,
                                               rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(-140deg, rgba(0, 0, 0, 0.02) 2%,
                                               rgba(0, 0, 0, 0.07) 3%,
                                               rgba(0, 0, 0, 0.08) 3.2%,
                                               rgba(255, 255, 255, 0.04) 3.25%,
                                               rgba(255, 255, 255, 0.04) 3.5%,
                                               rgba(255, 255, 255, 0) 3.55%);
} */

p{
  font-family: 'Oldtype';
  /* font-weight: 200; */
}
p#author{
  font-family: 'Oldtype';
}
#author{
  font-family: 'Oldtype';
}

button, li{
  font-family: 'Oldtype';
  /* font-size: 10rem; */
}

.accordion-button{
  font-family: 'SniffinGlue2';
  font-size: 2.5rem;
  font-weight: 900;
}

.accordionLink{
  font-family: 'Oldtype';
  font-weight: 700;
}
nav.navbar{
  /* background-color: white; */
  font-family: 'Oldtype';
  /* font-weight: bolder; */
  font-size: larger;
}
nav.navigazione{
  border-bottom: solid;
}
.nav-link {
  font-family: 'Oldtype';
  font-weight: 900 !important;
  font-size: 1rem;
}
.page-link{
  font-family: 'Oldtype';
  font-weight: 900;
}
.nav-content .toggle-btn{
  background-image: url(/imgs/anarchy.jpg);
  rotate: -75deg;
  background-size: contain;
  background-repeat: no-repeat;
  zoom: 150%;
}
.accordion{
  background-image: url(/imgs/carta.jpg);
}

.accordion-body{
  column-count: 2;
  background-image: url(/imgs/carta.jpg);


}
.accordion-item, .accordion-button{
  background-image: url(/imgs/carta.jpg);
  border: none;

}
.highlight{
  background-color: gray;
  z-index: 999;
}
/* .accordion-item{
  background-color: white;
} */

#it1-1, #it1-2, #it1-3, #it1-4, #it1-5, #it1-6{
  font-family: 'Oldtype';
}


blockquote{
  font-family: 'Oldtype';
  font-weight: 700;
  /* font-size: 1rem; */
}

#maintitle{
  font-family: 'SniffinGlue2', Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: black;
  rotate: 5deg;
  background: radial-gradient(circle, rgba(73, 22, 94, 1) );
  text-shadow: 
  0 0 4px #e9ecef, /* Subtle shadow */
  0 0 10px #e9ecef, /* Slightly stronger shadow */
  0 0 15px #e9ecef; /* Bold shadow */
}
header{
  font-family: 'SniffinGlue2', Arial, Helvetica, sans-serif;
  color: black;
  rotate: 5deg;
  background: radial-gradient(circle, rgba(73, 22, 94, 1) );
  text-shadow: 
  0 0 4px #e9ecef, /* Subtle shadow */
  0 0 10px #e9ecef, /* Slightly stronger shadow */
  0 0 15px #e9ecef !important; /* Bold shadow */ 
}

.footer-text{
  font-size: 1rem;
}

#punk{
  /* width: 20vw;
  height: 20vh; */
  position: relative;
  overflow: visible;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 3%;
  z-index: 998;
  background: transparent;
}

#punkhead{
  width: 20vw;
  height: 45vh;
  fill: #bbb;
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 998;
  /* filter: grayscale(100%), contrast(3), brightness(70%); */
}

#about .image-row{
  margin-bottom: 4rem;
  background-image: url(/imgs/punk_border.png);
  background-repeat: round;
}
.image-container {
  padding-bottom: 2rem;
  transform: rotate(-5deg) skew(-5deg);
  border-radius: 10px;
  transform: skew(-5deg);
  border: none;
  margin-bottom: 2rem;
}

#issues .label{
  right: 2vw;
  white-space: nowrap;
  text-align: center;
}
#issues .label h4{

  font-size: 1.5vw;
}

h1{
  font-family: 'SniffinGlue2';
  font-weight: 900;
  font-size: 4rem;
}
h2{
  font-family: 'SniffinGlue2';
  font-size: 4rem;
  font-weight: 900;
}
#issues h2{
  padding-bottom: 2rem;
}
.container h1, h2{
  /* font-family: 'Mustasurma'; */
  font-family: 'SniffinGlue2';
  /* border-radius: 10px; */
  /* box-shadow: 50px 50px 100px #000000; */
  font-size: 5rem;
  /* color: #e044ee; */
  /* color: black; */
  /* text-shadow: 50px 50px 100px #000000; */
  /* background-image: linear-gradient(240deg, #FBFF14, #F0A9E3); */
  padding: 5rem;
  transform: rotate(7deg) skew(4deg);
}
/* .d-none .d-md-block{
  overflow-y: hidden;
} */

h2.navbar-brand{
  font-family: 'Oldtype';
  font-size: 2rem;
  font-weight: 700;
  transform: none;
  padding: 0;
}
#navpage{
  border-bottom: solid;
  border-top: solid;
}
#navbar-documentation h2{
  all: unset;
  font-size: 3rem;
  font-family: 'SniffinGlue2'; 
  font-weight: 700;
}
/* #navbar-documentation .container h2{
  padding: none;
  margin: none;
} */
#subtitle{
  font-family: 'SniffinGlue2';
  font-size: 2rem;
  font-weight: 700;
}
h3{
  font-family: 'SniffinGlue2';
  font-size: 3rem;
  font-weight: 900;
}

h4{
  font-family: 'Oldtype';
  font-weight: 700;
}
h5 {
  font-family: 'SniffinGlue2';
  font-size: 2rem;
  font-weight: 900;
}

#documentation{
  width: 100%;
  padding: 2%;
}

#content img {
  max-width: 100%;
  margin: auto;
  display: block;
  flex-wrap: wrap;
  /* padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%; */
  padding: auto;
}
#menu-card {
  overflow-y: scroll;
  height: 90vh;
  position: static;
}

#content {
  column-gap: 15%;
  column-count: 2;
  font-family: 'Oldtype';
}
/* #content p {
  border: 2rem solid;
  padding: 2rem;
  border-image: url(/imgs/punk_border.png) 10% round; 
} */


.mapbox-improve-map{
  display: none;
}
.mapboxgl-ctrl-attrib-inner{
  display: none;
}
/* per le immagini (principalmente) */
/* .zine {
  z-index: 998;
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  position: relative;
  background-color: #bbb;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ddd, #777),
                    linear-gradient(to right, #ccc, #777),
                    linear-gradient(to right, #ddd, #777),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 3%);
  background-size: 0.5% 5%, 0.5% 5%, 0.5% 5%, 10% 8%, 10% 8%, 10% 8%, 100% 100%;
  background-position: 0 10%, 0 50%, 0 90%, 0 9%, 0 50%, 0 91%, 0 0;
  border-radius: 2px 1px 1px 2px;
  box-shadow: 2px 1px 0 #ccc,
              3px 2px 0 #bbb,
              4px 3px 0 #ccc,
              6px 4px 0 #aaa,
              0 3px 12px rgba(0, 0, 0, 0.2),
              6px 5px 7px 1px rgba(0, 0, 0, 0.4);
}

.zine.img {
  width: 100%;
  display: block;
  filter: grayscale(100%) contrast(3) brightness(70%);
}

.zine::before,
.zine::after {
  content: '';
  position: absolute;
}

.zine::before {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60%,
                                                rgba(255, 255, 255, 0.25) 65%,
                                                rgba(255, 255, 255, 0.2) 75%,
                                                rgba(255, 255, 255, 0) 80%),
                    linear-gradient(to right, rgba(255, 255, 255, 0) 40%,
                                                rgba(255, 255, 255, 0.1) 41%,
                                                rgba(255, 255, 255, 0.1) 41.5%,
                                                rgba(255, 255, 255, 0) 42%),
                    linear-gradient(75deg, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0) 30%),
                    repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2%,
                                                                           rgba(0, 0, 0, 0.15) 5%,
                                                                           rgba(0, 0, 0, 0.15) 7%,
                                                                           rgba(0, 0, 0, 0) 12%),
                    repeating-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.8%,
                                                                          rgba(0, 0, 0, 0.03) 1%,
                                                                          rgba(0, 0, 0, 0.03) 1.6%);
}

.zine::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.15) 25%,
                                                rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 25%,
                                               rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(-140deg, rgba(0, 0, 0, 0.02) 2%,
                                               rgba(0, 0, 0, 0.07) 3%,
                                               rgba(0, 0, 0, 0.08) 3.2%,
                                               rgba(255, 255, 255, 0.04) 3.25%,
                                               rgba(255, 255, 255, 0.04) 3.5%,
                                               rgba(255, 255, 255, 0) 3.55%);
} */

/*
.container {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 60px 30px;
  margin: 0 auto;
}

.container > img {
  width: 250px;
} */



/* da .zine fino a qui è meglio applicare alle immagini */


/* testo */

.text-brutal{
  font-family: 'SniffinGlue2';
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  transform: rotate(5deg);
} /*da applicare a porzioni di testo per ingrandirle e rotarle == brutalismo */


/* il div in cui c'è la foto deve essere position relative */



.accordion-body{
  column-count: 1;
}

.paragraph {
  display: block;
  break-inside: avoid;
  margin: 0;
  column-gap: 20px;
}

.paragraph img{
  float: left;
  max-width: 50vw;
  max-height: auto;
  margin: 0;
  display: block;
  /* filter: grayscale(100%) contrast(2) brightness(90%);   */
}
.hide_image img{
  /* display: none; */
  transform: rotate(5deg);
  padding: 2rem;
  max-width: 42vw;
  float: left;
  display: block;
  /* filter: grayscale(100%) contrast(2) brightness(90%);   */
}
.img_paragraph img {
  display: none !important;
  /* transform: rotate(5deg);
  padding: 2rem;
  max-width: 42vw;
  float: left;
  display: block; */
}
.img_paragraph .label_photo {
  display: none !important;
  /* transform: rotate(5deg);
  padding: 2rem;
  max-width: 42vw;
  float: left;
  display: block; */
}
.second_image img{
  transform: rotate(-5deg);
  padding-bottom: 2rem;
  padding-left: 1rem;
  max-width: 30vw;
  float: right;
  /* display: block; */
  /* filter: grayscale(100%) contrast(2) brightness(90%); */
  /* image-rendering:pixelated; */
  /* filter: blur(1px); */
  /* opacity: 0.5; */

}
.second_image2{
  display: none;
}



.label_photo{
  text-align: left;
  font-weight: 700;
  padding-bottom: 3rem;
  padding-top: 3rem;
}


/* .image-row .image-container img{
  width: 100vw;
  height: 60vh;
} */

.hide_image2 {
  display: none
}
#second_hide{
  display: none;
}
#hide_image3 {
  transform: rotate(-5deg);
  padding-bottom: 2rem;
  padding-left: 1rem;
  max-width: 30vw;
  float: right;
  /* display: block; */
  /* filter: grayscale(100%) contrast(2) brightness(90%); */
  /* image-rendering:pixelated; */
  /* filter: blur(1px); */
  /* opacity: 0.5; */
  
}
#hide_label{
  text-align: left;
  font-weight: 700;
  padding-bottom: 3rem;
  padding-top: 3rem;  
}
#doc-img-8{
  display: none;
}

.label{
  bottom: 1vh;
  right: 7vw;
  left: 7vw;
  font-family: 'Oldtype';
  font-weight: 900;
}
/* .label {
  bottom: 1vh;
  right: 7vw;
  left: 7vw;
  text-align: center;
  font-family: "Imbue", serif;
  color: black;
} */