@font-face {
  font-family: 'BlackCasper';
  src: url(/fonts/BlackCasper.ttf);
}
@font-face {
  font-family: 'Mustasurma';
  src: url(/fonts/Mustasurma.ttf);
}
@font-face {
  font-family: 'Punktype';
  src: url(/fonts/Punktype.ttf);
}
@font-face {
  font-family: 'SniffinPaint';
  src: url(/fonts/Sniffin_Paint_Regular.ttf);
}


body {
    /* background-image: url("imgs/punk_wallpaper2.jpeg"); */
    /* color: linear-gradient(240deg, #FBFF14, #F0A9E3);  */
    background-color: #e9ecef;
    position: relative
  }

p, a, h4{
  font-family: 'Punktype';
}

blockquote{
  font-family: 'SniffinPaint';
  color: black;
  font-size: 3rem;
}

#maintitle{
  font-family: 'SniffinPaint', Arial, Helvetica, sans-serif;
  color: black;
  rotate: 5deg;
  background: radial-gradient(circle, rgba(73, 22, 94, 1) );
  text-shadow: 
  0 0 4px rgba(0, 0, 0, 0.5), /* Subtle shadow */
  0 0 10px rgba(0, 0, 0, 0.8), /* Slightly stronger shadow */
  0 0 15px rgba(0, 0, 0, 0.8); /* Bold shadow */
}

#punk{
  /* width: 20vw;
  height: 20vh; */
  position: relative;
  overflow: visible;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 3%;
  z-index: 998;
  background: transparent;
}

#punkhead{
  width: 20vw;
  height: 45vh;
  fill: #bbb;
  display: inline-block;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 998;
  filter: grayscale(100%), contrast(3), brightness(70%);
}

.image-container {
  font-family: 'SniffinPaint';
  border-radius: 10px;
  /* box-shadow: 50px 50px 100px #000000; */
  /* background-image: linear-gradient(240deg, #FBFF14, #F0A9E3); */
  color: black;
  padding: 5rem;
  transform: rotate(-5deg) skew(-5deg);
}

.image-container > *{
  transform: skew(5deg);
}
.container h1, h2{
  font-family: 'Mustasurma';
  border-radius: 10px;
  /* box-shadow: 50px 50px 100px #000000; */
  font-size: 3rem;
  /* color: #e044ee; */
  color: black;
  /* text-shadow: 50px 50px 100px #000000; */
  /* background-image: linear-gradient(240deg, #FBFF14, #F0A9E3); */
  padding: 5rem;
  transform: rotate(12deg) skew(4deg);
}

.container h3, h5 {
  font-family: 'SniffinPaint';
  font-size: 2rem;
}

#main-background {
  column-count: 2;
  column-gap: 3%;
  /* background-image: url('/imgs/punk_wallpaper2.jpeg') ; */
}

/* per le immagini (principalmente) */
.zine {
  z-index: 998;
  box-sizing: border-box;
  width: 300px;
  padding: 20px;
  position: relative;
  background-color: #bbb;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #ddd, #777),
                    linear-gradient(to right, #ccc, #777),
                    linear-gradient(to right, #ddd, #777),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0)),
                    linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 3%);
  background-size: 0.5% 5%, 0.5% 5%, 0.5% 5%, 10% 8%, 10% 8%, 10% 8%, 100% 100%;
  background-position: 0 10%, 0 50%, 0 90%, 0 9%, 0 50%, 0 91%, 0 0;
  border-radius: 2px 1px 1px 2px;
  box-shadow: 2px 1px 0 #ccc,
              3px 2px 0 #bbb,
              4px 3px 0 #ccc,
              6px 4px 0 #aaa,
              0 3px 12px rgba(0, 0, 0, 0.2),
              6px 5px 7px 1px rgba(0, 0, 0, 0.4);
}

.zine.img {
  width: 100%;
  display: block;
  filter: grayscale(100%) contrast(3) brightness(70%);
}

.zine::before,
.zine::after {
  content: '';
  position: absolute;
}

.zine::before {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 60%,
                                                rgba(255, 255, 255, 0.25) 65%,
                                                rgba(255, 255, 255, 0.2) 75%,
                                                rgba(255, 255, 255, 0) 80%),
                    linear-gradient(to right, rgba(255, 255, 255, 0) 40%,
                                                rgba(255, 255, 255, 0.1) 41%,
                                                rgba(255, 255, 255, 0.1) 41.5%,
                                                rgba(255, 255, 255, 0) 42%),
                    linear-gradient(75deg, rgba(0, 0, 0, 0.4) 15%, rgba(0, 0, 0, 0) 30%),
                    repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2%,
                                                                           rgba(0, 0, 0, 0.15) 5%,
                                                                           rgba(0, 0, 0, 0.15) 7%,
                                                                           rgba(0, 0, 0, 0) 12%),
                    repeating-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.8%,
                                                                          rgba(0, 0, 0, 0.03) 1%,
                                                                          rgba(0, 0, 0, 0.03) 1.6%);
}

.zine::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.15) 25%,
                                                rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(to left, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.1) 25%,
                                               rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 40%),
                    linear-gradient(-140deg, rgba(0, 0, 0, 0.02) 2%,
                                               rgba(0, 0, 0, 0.07) 3%,
                                               rgba(0, 0, 0, 0.08) 3.2%,
                                               rgba(255, 255, 255, 0.04) 3.25%,
                                               rgba(255, 255, 255, 0.04) 3.5%,
                                               rgba(255, 255, 255, 0) 3.55%);
}

/*
.container {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 60px 30px;
  margin: 0 auto;
}

.container > img {
  width: 250px;
} */



/* da .zine fino a qui è meglio applicare alle immagini */


/* testo */

.text-brutal{
  font-family: 'SniffinPaint';
  display: inline-block;
  font-size: 45px;
  transform: rotate(5deg);
} /*da applicare a porzioni di testo per ingrandirle e rotarle == brutalismo */

/* .text-flicker-out-glow {
	-webkit-animation: text-flicker-out-glow 2s linear infinite alternate-reverse both;
	        animation: text-flicker-out-glow 2s linear infinite alternate-reverse both;
}

 @-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
} */


/* il div in cui c'è la foto deve essere position relative */