@font-face {
    font-family: 'SpaceMono';
    src: url(/fonts/SpaceMono-Regular.ttf);
  }
@font-face {
    font-family: 'ProtoMolecule';
    src: url(/fonts/Protomolecule.ttf);
  }

    /* colore alternativo un po' più geek(verde classico hacker diciamo) === #88ff00 */ 

body{
    background-color: rgb(15, 15, 15);
}
.navigazione {
    background-color: rgb(15, 15, 15) !important; 
}
#maintitle {
    font-size: 4rem;
    font-family: 'ProtoMolecule', serif;
    color: rgb(218, 218, 218);
    text-transform: lowercase;

}
#maintitle:hover{
  color: rgb(15, 15, 15);
  background-color: rgb(218, 218, 218);
  box-shadow: 5px 5px 10px rgb(218, 218, 218);
}

h1, h2, h3, h4, h5, a, blockquote{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218)
}

p{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218);
  font-size: 1rem;
}

div{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218);
  font-size: 1rem;
}
.image-container{
  border: none;
}
#about .image-row{
  margin-top: 8rem;
  margin-bottom: 12rem;
}
#about .image-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'ProtoMolecule';
}
#about .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.label h4{
  /* background-color: aliceblue; */
  font-size: 1.605em;
  /* font */
}



/* .container{
  display: inline-block;
  text-align: center;
  justify-content: center;
} */




.text-flicker-out-glow {
	-webkit-animation: text-flicker-out-glow 2s linear infinite alternate-reverse both;
	        animation: text-flicker-out-glow 2s linear infinite alternate-reverse both;
}

 @-webkit-keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text-flicker-out-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  39.9% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.4% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  80% {
    opacity: 0;
    text-shadow: none;
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  90% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}


/* prova card */

* {
  box-sizing: border-box;
}

.screen {
  width: 500px;
  display: flex;
  border: 3px solid rgba(33, 150, 243, 0.8);
  /* aspect-ratio: 10 / 16; */
  border-radius: 1rem;
  /* background-color: rgba(33, 150, 243, 0.15); */
  overflow: hidden;
  position: relative;
  /* z-index: 10; */
}
/* 
.screen:after,
.screen:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
} */

/* .screen:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} */

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background: linear-gradient(
    rgba(33, 150, 243, 0.15),
    rgba(33, 150, 243, 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 90%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  /* position: absolute; */
  /* z-index: 2; */
  /* left: 0px;
  top: 0px; */
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  20.0001% {
    background-position: 60% 85%;
    background-size: 500%;
  }
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  40.0001% {
    background-position: 80% 42%;
    background-size: 300%;
  }
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  60.0001% {
    background-position: 0% 0%;
    background-size: 300%;
  }
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  80.0001% {
    background-position: 80% 10%;
    background-size: 300%;
  }
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}
.screen > .screen-image {
  height: 100%;
  width: 100%;
  position: absolute;
  /* z-index: 1;
  left: 0px;
  top: 0px; */
  /* background-size: 300%; */
  /* background-position: 0% 0%; */
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}
/* 
.screen > .screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  padding-bottom: 6rem;
  border: 1px solid rgba(33, 150, 243, 0.5);
  border-radius: 0.6rem;
}

.screen > .screen-content > .screen-icon {
  color: white;
  font-size: 4rem;
  text-shadow: 0px 0px 0.5rem white;
} */

/* .screen > .screen-content > .screen-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
} */

/* .screen > .screen-content > .screen-user:before,
.screen > .screen-content > .screen-user:after {
  content: "";
  position: absolute;
  top: 0px;
  background-color: rgba(33, 150, 243);
  border-radius: 1rem;
  box-shadow: 0px 0px 8px 3px rgba(33, 150, 243, 0.6);
}

.screen > .screen-content > .screen-user:before {
  height: 2px;
  width: 50px;
  transform: translate(-20px, -1rem);
  opacity: 0.75;
}

.screen > .screen-content > .screen-user:after {
  height: 3px;
  width: 30px;
  transform: translate(26px, calc(-1rem - 0.5px));
} */
/* 
.screen > .screen-content > .screen-user > .name {
  font-family: 'ProtoMolecule';
  text-align: center;
  position: relative;
  font-size: 4.25rem;
  font-weight: 400;
}

.screen > .screen-content > .screen-user > .name:before,
.screen > .screen-content > .screen-user > .name:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

.screen > .screen-content > .screen-user > .name:before {
  top: 55%;
  right: -1.5rem;
}

.screen > .screen-content > .screen-user > .name:after {
  top: 45%;
  left: -1.5rem;
} */

/* .screen > .screen-content > .screen-user > .link {
  opacity: 0.8;
  font-size: 1.5rem;
  text-shadow: 0px 0px 0.5rem white;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.screen > .screen-content > .screen-user > .link:hover,
.screen > .screen-content > .screen-user > .link:focus {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .screen {
    transform: scale(0.6);
    margin-bottom: 0;
  }
} */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1) scale(1.5);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, rgba(33, 150, 243), dodgerblue);
  animation: rotate 20s infinite;
  opacity: 0.5;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

#links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1rem;
}

.meta-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meta-link > span,
.meta-link > a {
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  color: white;
}

.meta-link > .label {
  width: 160px;
  text-align: right;
}

.meta-link > a {
  text-decoration: none;
  outline: none;
}

.meta-link > a.source {
  color: rgb(94, 106, 210);
}

.meta-link > a.source > i {
  padding-top: 0.2rem;
}

.meta-link > a > i {
  height: 1rem;
  line-height: 1rem;
} */
