@font-face {
    font-family: 'SpaceMono';
    src: url(../fonts/SpaceMono-Regular.ttf);
  }
@font-face {
    font-family: 'ProtoMolecule';
    src: url(../fonts/Protomolecule.ttf);
  }

    /* colore alternativo un po' più geek(verde classico hacker diciamo) === #88ff00 */ 

body{
    background-color: rgb(15, 15, 15);
    overflow-x: hidden;
    /* background-image: url(/imgs/grid_2030.jpg); */
    /* background-image: radial-gradient(
      rgba(255, 255, 255, 02) 8%, 
      transparent 8%
    );
    background-position: 0% 0%;
    background-size: 1vmin 1vmin; */
  }
.navigazione {
    background-color: rgb(15, 15, 15) !important; 
}
#maintitle {
    font-size: 4rem;
    font-family: 'ProtoMolecule', serif;
    color: rgb(218, 218, 218);
    text-transform: lowercase;

}
#maintitle:hover{
  color: rgb(15, 15, 15);
  /* background-color: rgb(218, 218, 218); */
  /* box-shadow: 5px 5px 10px rgb(218, 218, 218); */
}

h1, h2, h3, h4, h5, a, blockquote{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218)
}

p{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218);
  font-size: 1rem;
}

div{
  font-family: "ProtoMolecule", serif;
  color: rgb(218, 218, 218);
  font-size: 1rem;
}
.nav-link {
  color: rgb(218, 218, 218) !important;
}
.dropdown-menu{
  background-color: rgb(15, 15, 15);
}
.image-container{
  border: none;
  /* position:relative; */
}
#issues .image-container .screen {
  aspect-ratio: 16/9;
}
#issues .image-container .screen .screen-image img{
  padding-bottom: 3vh;
}
#about .image-row{
  margin-bottom: 12rem;
}

#about .image-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'ProtoMolecule';
}
#about .image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

#issues .label{
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  display: flex;
  /* right: 7vw; */
  left: 4.5vw;
  text-align: center;
  white-space: nowrap;
}
#issues .label h4{

  font-size: 1.3vw;
}

/* #issues .screen .screen-image img{
  height: 100%;
  width: 100%;
} */
/* .image-row .image-container .label{
  bottom: 1vh;
  right: 7vw;
  left: 7vw;
  text-align: center;
  justify-content: center;
} */
#about h4{
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  display: flex;
  margin: none;
  /* max-width: 100%;
  min-width: 1.605em;
  max-height: 100%;
  min-height: 1.605em; */
  /* font-size: 1.605em; */
}



.mapbox-improve-map{
  display: none;
}
.mapboxgl-ctrl-attrib-inner{
  display: none;
}

.screen {
  width: 100%;
  display: flex;
  aspect-ratio: 10 / 16;
  border-radius: 1rem;
  background-color: rgba(33, 150, 243, 0.15);
  overflow: hidden;
  position: relative;
  z-index: 10;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background: linear-gradient(
    rgba(33, 150, 243, 0.15),
    rgba(33, 150, 243, 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 90%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  /* position: absolute; */
  /* z-index: 2; */
  /* left: 0px;
  top: 0px; */
}

.screen > .screen-image{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}

#doc-img-1{
  aspect-ratio: 10/16;
  display: flexbox;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: auto;
  max-width: 20vw;
  max-height: 60vh;
  border-radius: 1rem;
  background-color: rgba(33, 150, 243, 0.15);
  overflow: hidden;
  position: relative;
  z-index: 10;
}
#doc-img-2{
  aspect-ratio: 16/12;
  display: flexbox;
  justify-content: center; 
  align-items: center;  
  margin: auto; 
  max-width: 36vw;
  max-height: 62vh;
  border-radius: 1rem;
  background-color: rgba(33, 150, 243, 0.15);
  overflow: hidden;
  z-index: 10;
}
#doc-img-3{
  aspect-ratio: 16/8;
  display: flexbox;
  justify-content: center; 
  align-items: center;  
  margin: auto; 
  max-width: 36vw;
  max-height: 62vh;
  border-radius: 1rem;
  background-color: rgba(33, 150, 243, 0.15);
  overflow: hidden;
  z-index: 10;
}

#doc-img-1 img{
  width: 100%;
  height: 100%;
}
#doc-img-2 img{
  width: 100%;
  height: 100%;
}
#doc-img-3 img{
  width: 100%;
  height: 31.5%;
}
/* .screen > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */