.navi {
    position: absolute; /* Cambia da 'absolute' a 'fixed' per far rimanere il menu fisso */
    top: 120px; /* Imposta il margine desiderato dalla parte superiore */
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    z-index: 999 !important;
    /* transition: top 0.3s ease; Aggiungi una transizione per l'effetto di scorrimento */
  }
  /* Aggiungi un nuovo stile per il menu fisso in alto */
.navi.fixed {
    position: sticky;
    top: 20px; /* Altezza desiderata dal margine superiore */
    right: 20px;
    /* transition: top 0.3s ease; Aggiungi una transizione per rendere il movimento più fluido */
  }
  
.navi .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    z-index: 999 !important
}

.nav-content .toggle-btn{
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 999 !important
}
.nav-content span a{
    height: 40px;
    width: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 999 !important
}
.nav-content .toggle-btn{
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;

}
nav.open .toggle-btn{
    transform: rotate(0);

}
.nav-content span{
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}
nav.open .nav-content span{
    transform: rotate(calc(var(--i) * (310deg / 8))) translateY(80px);
    opacity: 1;

}
.nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);

}
.nav-content span a i{
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i)*(360deg/-8))); /* controlla qua se non funziona*/
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i{
    opacity: 1;
}

/* BUTTONS CIRCULAR MENU */

#it1-1:hover {
    background-image: url(../imgs/button_1500.jpg) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-1:hover #number_1500 {
    display: none; 
}

#it1-2:hover {
    background-image: url(../imgs/button_1800.jpg) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-2:hover #number_1800 {
    display: none; 
}

#it1-3:hover {
    background-image: url(../imgs/boccioni.jpg) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-3:hover #number_1900 {
    display: none; 
}

#it1-4:hover {
    background-image: url(../imgs/button_1950.png) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-4:hover #number_1960 {
    display: none; 
}

#it1-5:hover{
    background-image: url(../imgs/god_save_the_queen.jpg) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-5:hover #number_1990 {
    display: none;
}

#it1-6:hover{
    background-image: url(../imgs/planet.jpg) !important;
    background-size: contain !important;
    z-index: 3000;
}

#it1-6:hover #number_2030{
    display: none;
}