#map { padding: 0%; width:100vw; height:93.5vh}


.btn-spin {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    z-index: 3;
    position: absolute;
    left:5%;
    bottom: 20%;
    
    height:37px;

    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: double;
    border-width: 0px 0px 0px 30px;
}
    

.btn-spin.pause {
        border-style: solid;
        border-width: 18.5px 0px 18.5px 30px;
        height:37px;
    }

.btn-spin:hover {
        border-color: transparent transparent transparent #ffffff83;
    }


#maintitle {
    font-size: 9vh;
    font: bold 80px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top:15%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.container {
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative; 
    height: 300px; 
}
#banner {
    display:none;
}

#banner_image {
    display: none;
}

/* css x documentazione */

.second-div {
    margin: 2% 3% 3% 3%;
    border: 0.5em solid black;
    height: 90%;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.scrollspy {
    height: 87vh;
    overflow-y: scroll;
}

.image-row {
    display: flex; 
    align-items: center; /* Center the images and labels vertically */
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style the individual image and label containers */
.image-container {
    text-align: center;
    margin: 0 20px; /* Add some spacing between the image containers */
    border: solid;
    border-style: double;
    border-color: black;
    margin: 2rem;
    padding: 2%;
    flex: 1;
    width: 70%;
    text-align: center;
}

/* Style the individual images */
.image-container img {
    width: 100%; /* Set the width of each image */
    max-height: 100%;
    height: auto;
}

/* Style the labels */
.label {
    position: relative;
    text-align: center;
    bottom: 0;
    padding: 5px;
}




