#map { padding: 0%; width:100vw; height:93.5vh}


.btn-spin {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    z-index: 3;
    position: absolute;
    left:5%;
    bottom: 20%;
    
    height:37px;

    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: double;
    border-width: 0px 0px 0px 30px;
}
    

.btn-spin.pause {
        border-style: solid;
        border-width: 18.5px 0px 18.5px 30px;
        height:37px;
    }

.btn-spin:hover {
        border-color: transparent transparent transparent #ffffff83;
    }

#maintitle {
    font-size: 9vh;
    font: 80px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top:15%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative; 
}
#banner {
    display:none;
}

#banner_image {
    display: none;
}

#image_artnouveau {
    display: none;
}

#image_artnouveau2 {
    display: none;
}

#image_80s {
    display: none;
}

#documentation img {
    max-height: 30vw;
    max-width: 40vw;
}

.documentation-img {
    max-width: fit-content;
}

#documentation .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-background {
    overflow: auto;
    height: 90vh;
    width: 60vw;
}

#menu-card {
    height: 90vh;
    width: 17vw;
    text-align: center;
    overflow: auto;
}

.navbar {
    display: block !important;
}

.image-row {
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 50vh; 
}


.image-container {
    text-align: center;
    margin: 2vw; 
    border: solid;
    border-style: double;
    border-color: black;
    padding: 0.5em;
    flex: 1;
    position: relative;
    width: 80vw;
}

.image-container img {
    max-width: 100%; 
    max-height: 100%;
    padding-bottom: 8vh;
}

.label {
    position: absolute;
    display: inline-block;
    bottom: 0;
}

@media (max-width: 768px) {
    .label {
      font-size: 1.5rem;
    }
}

/* Footer styling */

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    font-size: 1.5vw;
}


.footer a {
    color: #fff; 
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline;
}

#punk{
    /* width: 20vw;
    height: 20vh; */
    position: relative;
    overflow: visible;
    display: none;
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 998;
    background: transparent;
}

.navbar-toggler-icon {
    width: 4vw !important;
    height: 4vw !important;
}

.navbar-toggler {
    padding: none !important;
}

.mapbox-improve-map{
    display: none;
}

.mapboxgl-ctrl-attrib-inner{
    display: none;
}

/* pop up menu-card */

#menu-card.active {
    display: block !important; 
    width: fit-content;
    height: 65vw;
    position: relative; 
    top: 35vw; 
    left: 15vw; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    z-index: 1000; 
}

#navbarSupportedContent.active {
    display: block !important; 
    width: fit-content;
    padding: 3vw;
    height: 50vw;
    position: absolute; 
    top: 9vw;
    left: 2vw;
    background-color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    z-index: 1000; 
    overflow-y: scroll;
}

#hamburger1 {
    padding-right: 1vw;
}
  