#map { padding: 0%; width:100vw; height:93.5vh}


.btn-spin {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    z-index: 3;
    position: absolute;
    left:5%;
    bottom: 20%;
    
    height:37px;

    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: double;
    border-width: 0px 0px 0px 30px;
}
    

.btn-spin.pause {
        border-style: solid;
        border-width: 18.5px 0px 18.5px 30px;
        height:37px;
    }

.btn-spin:hover {
        border-color: transparent transparent transparent #ffffff83;
    }

/* commento lucia: ho tolto "bold" dal main title perché mi sfanculava il css dei miei stili */

#maintitle {
    font-size: 9vh;
    font: 80px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top:15%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.container {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative; 
}
#banner {
    display:none;
}

#banner_image {
    display: none;
}

#image_artnouveau {
    display: none;
}

#image_artnouveau2 {
    display: none;
}

#image_80s {
    display: none;
}

#documentation img {
    max-width: 280px;
}

/* css x documentazione */

#main-background {
    overflow-y: auto;
    height: 80vh;
}

#menu-card {
    height: 80vh;
    text-align:center;
    overflow-y: auto; 
}

.image-row {
    display: flex; 
    align-items: center; /* Center the images and labels vertically */
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    height: 50vh; 
}


.image-container {
    text-align: center;
    margin: 0 20px; 
    border: solid;
    border-style: double;
    border-color: black;
    padding: 2%;
    flex: 1;
    position: relative;
    height: 50vh; 
    width: 50vw;
}

.image-container img {
    max-width: 100%; 
    max-height: 100%;
}

.label {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer styling */

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}


.footer a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underlines from links */
}

    /* Style links on hover */
.footer a:hover {
    text-decoration: underline;
}

#punk{
    /* width: 20vw;
    height: 20vh; */
    position: relative;
    overflow: visible;
    display: none;
    position: absolute;
    bottom: 5%;
    right: 3%;
    z-index: 998;
    background: transparent;
}
 
  
/* .border_bottom_1800 {
    display: none;
} */

